Technical Specifications:

Frontend          : HTML, CSS
Backend           : PHP, JS
Framework         : Laravel
Database          : MySQL
IDE/Platform      : Visual Studio Code
Documentation tool: 
Unit testing tool : 
