.bik{
    display: inline-block;
    border: 2px solid hsl(0, 0%, 35%);
    margin: 5px;
    width: 290px;
    border-radius: 5px;
    margin-left: 10px;
}

.bik .description{
    padding: 5px;
    text-align: center;
}

.bik:hover{
    border: 4px solid hsl(0, 0%, 0%);
}

.bik img{
    width:100% ;
    height: 200px;
}
